.button {
    border: 1px solid rgb(239, 124, 0);
    color: rgb(255, 255, 255);
    font-size: 15px;
    line-height: 20px;
    padding: 10px 20px;
    border-radius: 4px;
    background: rgb(239, 124, 0);
    transition: 0.4s;

    &:hover{
        background-color: transparent;
        border: 1px solid rgb(239, 124, 0);
        color: rgb(239, 124, 0);
    }
}